asth-test.out.*
*.pyc
symb-test.out.*
*.o
DONE
*.aux
*.dvi
*.log
*.out
*.swp
*.tex~
*.txt~
*.bib~
*eps-converted-to.pdf
scripts/py_animate_data~
scripts/py_compare_snapshot~
scripts/py_show_ts~
scripts/py_visual_data~
*.blg
*.spl
makefile~
*~

build/
tests/
